@font-face {
    font-family: 'me_quran';
    src: url('../../assets/font/me_quran-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../assets/font/me_quran-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../assets/font/me_quran-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../assets/font/me_quran-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../assets/font/me_quran-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'pdms_saleem';
    src: url('../../assets/font/pdms_saleem-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../assets/font/pdms_saleem-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../assets/font/pdms_saleem-webfont.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../assets/font/pdms_saleem-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../assets/font/pdms_saleem-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'kfc_naskh';
    src: url('../../assets/font/kfc_naskh-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../assets/font/kfc_naskh-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../assets/font/kfc_naskh-webfont.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../assets/font/kfc_naskh-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../assets/font/kfc_naskh-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'scheherazade';
    src: url('../../assets/font/scheherazade-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../assets/font/scheherazade-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../assets/font/scheherazade-webfont.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../assets/font/scheherazade-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../assets/font/scheherazade-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'xb_zar';
    src: url('../../assets/font/xb_zar-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../assets/font/xb_zar-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../assets/font/xb_zar-webfont.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../assets/font/xb_zar-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../assets/font/xb_zar-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}