.single-ayat-hafalan {
    display: flex;
    font-size: 2rem;
    color: white;
    padding: 20px 0;
    border-bottom: 1px solid #FBD379;
}
  
.save-hafalan {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
  
.btn-save-hafalan {
    font-size: 1.5rem;
    font-weight: 700;
    width: 150px;
    color: #222222;
    background-color: #fbd379;
    padding: 10px;
}
  
.btn-save-hafalan:hover {
    color: #ffffff;
    background-color: #fac348;
}