.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin-bottom: 10px;
  border-radius: 100px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #222222;
  background: linear-gradient(
    to right bottom,
    #f9b827,
    #fbd379
  );
}

.button:last-child {
  margin-bottom: 0;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.button-animated-left {
  animation: moveInLeft 2s ease-out .75s;
  animation-fill-mode: backwards;
}

.button-animated-right {
  animation: moveInRight 2s ease-out .75s;
  animation-fill-mode: backwards;
}