nav{
    border-bottom: 1px solid white;
    height: 60px;
    font-size: 1.5rem;
    background-color: #ffffff;
  }
  
  .scrollable-menu {
    height: auto;
    max-height: 400px;
    width: 200px;
    overflow-x: hidden;
  }
  
  .dropdown-item {
    font-size: 1.4rem;
  } 